.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.containerList {

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: auto;
    margin: 0 1rem;
    gap: 1rem;

    max-width: 1200px;
    
    @media (min-width: 51.875rem) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;

        overflow-x: hidden;
    }

    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        margin-bottom: 1rem;;
        gap: 4.5rem;

        overflow-x: hidden;
    }
}