.containerHeader {

    width: 100%;
    background-color: var(--color-gray-0);

}

.containerSubHeader{

    max-width: 75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0 auto;
    height: 9.5rem;
    background-color: var(--color-gray-0);

    @media (min-width: 48rem){

        display: flex;
        flex-wrap: nowrap;
    
    }

}

.containerTitle{

    display: flex;
    align-items: center;
   
    width: 100%;

    gap:0.3rem;
    margin: 0 1rem;

}

.titleLogo {

    font-weight: var(--font-weight-03);
    font-size: var(--font-size-06);
    font-family: var(--font-family-inter);
    color: var(--color-gray-600);
   
}

.titleSubLogo {

    font-weight: var(--font-weight-03);
    font-size: var(--font-size-04);
    font-family: var(--font-family-inter);
    color: var(--color-red);

    margin-top: 0.2rem;
    margin-right: 2rem;

}

.firstContainer {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

}

.containerImageCart {

    margin: 0 1rem;
    position: relative;
  

}

.containerSearch {

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 23.9375rem;
    width: 100%;
 
    gap: 0.5rem;
    position: relative;

}


.containerImageSearch {

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0.5rem;

    background-color: var(--color-green);
    height: 28px;
    width: 33px;
    border-radius: .25rem;

}

.inputSearch {

    width: 95%;
    height: 2.75rem;
    padding: 0 0.5rem;

    border: 2px solid var(--color-gray-100);
    border-radius: .5rem;

    ::placeholder{
        color: blue;
    }

}

.containerSearch {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    position: relative;

}


.count {

    position: absolute;
    bottom: 0.8rem;
    left: 0.7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;

    font-size: var(--font-size-01);
    color: var(--color-gray-0);
    border-radius: 4px;
    background-color: var(--color-green);

}
